.github {
    grid-column: 2 / 12;

    @media only screen and (max-width: 425px) {
        grid-column: 1 / 12;

        & h1 {
            margin: 0 0 0.5em;
        }
    }
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 3em 5em;

    @media only screen and (max-width: 425px) {
        grid-gap: 1.5em 5em;
    }
}
