body {
    color: #3e3e3e;
    font-size: 100%;
}

html {
    overflow-y: initial;
    overflow-x: hidden;
}

.wrapper {
    margin: 0 auto;
    padding: 1.5em 1em;

    backface-visibility: hidden;
    transition: transform 0.5s ease;
}

a {
    color: #375c85;
    text-decoration: none;
    box-shadow: 0 1px 0 0 currentColor;

    &:hover {
        box-shadow: none;
    }
}

h3 {
    letter-spacing: 0.02em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.grid-inner {
    grid-column: 2 / 12;
    @media (max-width: 425px) {
        grid-column: 1 / 13;
    }
}

.blog {
    & .grid-inner {
        grid-column: 2 / 10;

        @media (max-width: 425px) {
            grid-column: 1 / 13;
        }
    }
}

.blog-post {
    & .grid-inner {
        grid-column: 1 / 12;
        @media (max-width: 425px) {
            grid-column: 1 / 13;
        }
    }
}
@media (max-width: 768px) {
    body {
        font-size: 80%;
    }

    .header {
        & h3 {
            grid-column: 1 / 4;
        }
    }
}

@media (max-width: 690px) {
    body.menu-visible {
        & nav {
            transform: translateX(0);
        }

        & .wrapper {
            &:after {
                content: ' ';
                width: 100vw;
                height: 100%;
                position: fixed;
                top: 0;
                right: 0;
                background: rgba(0, 0, 0, 0.3)
            }
        }
    }
}
