:root {
    --black: hsl(0, 0%, 4%);
    --text-info: hsl(204, 86%, 53%);
    --text-link: hsl(217, 71%, 53%);
    --text-dark: hsl(0, 0%, 21%);
    --text-grey-dark: hsl(0, 0%, 45%);
    --text-grey: hsl(0, 0%, 40%);
    --text-grey-lighter: hsl(0, 0%, 86%);
    --text-primary: hsl(171, 100%, 41%);
    --text-white: hsl(0, 0%, 100%);
    --footer-background-color: hsl(0, 0%, 98%);
}

::selection {
    background-color: var(--text-primary);
    color: var(--text-white);
}

body {
    color: #3e3e3e;
    font-size: 100%;
    margin: 0;

    @media (max-width: 767px) {
      font-size: 80%;
    }
}

html {
    overflow-y: initial;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.main {
    margin-bottom: auto;
    opacity: 0;
    animation: moveUp 500ms ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: .25s;
}

@keyframes moveUp {
    0% { opacity: 0; transform: translate3d(0, 10px, 0); }
    100% { opacity: 1; transform: translate3d(0, 0, 0); }
}

a {
    color: var(--text-link);
    text-decoration: none;
    box-shadow: 0 1px 0 0 currentColor;

    &:hover {
        box-shadow: none;
    }
}

h3 {
    letter-spacing: 0.02em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.grid-inner {
    grid-column: 1 / 12;
    @media (max-width: 425px) {
        grid-column: 1 / 13;
    }
}

.blog {
    & .grid-inner {
        grid-column: 1 / 10;

        @media (max-width: 425px) {
            grid-column: 1 / 13;
        }
    }
}

.blog-post {
    & .grid-inner {
        grid-column: 1 / 12;
        @media (max-width: 425px) {
            grid-column: 1 / 13;
        }
    }
}
