.switcher {
	box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
		0 0 0 1px rgba(10, 10, 10, 0.02);
	border: 2px solid var(--text-info);
	display: inline;
	padding: 2px 10px;
	border-radius: 20px;
	line-height: 1.62em;
	justify-self: start;
}

.switcher a:last-child {
	margin-left: 10px;
}

.switcher .active,
.switcher .active:hover {
	color: var(--text-link);
}

@media (max-width: 767px) {
	.switcher {
		font-size: 1.2rem;
	}
}
