.switcher {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    border: 2px solid orange;
    display: inline;
    padding: 2px 10px;
    border-radius: 20px;
    line-height: 1.62em;
    justify-self: start;

    & a:first-child {
        margin-right: 10px;
    }

    & .active,
    & .active:hover {
        color: orange;
    }

    @media (max-width: 960px) {
        grid-column-start: 12;
    }
}

@media (max-width: 425px) {
    .switcher {
        font-size: 1.2rem;
        grid-column: 10 / 13;
    }
}