@media (max-width: 768px) {
  .touch {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1004px) {
  .tablet {
    display: none;
  }
}

@media (min-width: 1004px) and (max-width: 1260px) {
  .desktop {
    display: none;
  }
}

@media (min-width: 1260px) {
  .fullhd {
    display: none;
  }
}
