.footer {
    background: var(--footer-background-color);
    padding: 3rem 1.5rem;
}

.footer-upper a {
    text-decoration: none;
    box-shadow: none;
}

.footer-upper svg {
    vertical-align: middle;
}