.footer {
    background: var(--footer-background-color);
    padding: 3rem 1.5rem;
}

.footer a {
    text-decoration: none;
    box-shadow: none;
}

.footer svg {
    vertical-align: middle;
}

.footer-section {
    margin-bottom: 5px;
}