.header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin: 1.5rem 0 3rem 0;
	flex-shrink: 0;
	
	& a {
		text-decoration: none;
		color: #3e3e3e;
		box-shadow: none;
		position: relative;

		&:hover {
			color: inherit;
		}
	}

	/* @media (max-width: 425px) {
		display: block;
		flex-flow: column wrap;

		& .logo {
			text-align: center;
		}

		& .nav {
			display: block;
			margin: 0;
		}

		& .nav ul {
			margin: 0;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
		}
	} */
}

/* .nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-left: 2rem;
	margin-right: auto;

	@media (max-width: 767px) {
		display: none;
	}
} */
