.navbar-burger {
  display: block;
  width: 35px;
  height: 35px;
  position: relative;
  border: 0;
  background: none;
}

.navbar-burger-wrap {
  margin-left: auto;
}

.navbar-burger span {
  background-color: currentColor;
  display: block;
  height: 1px;
  left: calc(50% - 8px);
  position: absolute;
  transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
  width: 16px;
}

.navbar-burger span:nth-child(2) {
  top: calc(50% - 1px);
}

.navbar-burger span:nth-child(1) {
  top: calc(50% - 6px);
}

.navbar-burger span:nth-child(3) {
  top: calc(50% + 4px);
}

.navbar-burger-is-active span:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.navbar-burger-is-active span:nth-child(2) {
  opacity: 0;
}

.navbar-burger-is-active span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}
